<h1>Create New Task</h1>

<% if @task.errors.any? %>
  <h2>We had a problem...</h2>
  <ul>
    <% @task.errors.full_messages.each { |message| %> <li><%= message %></li> <% } %>
  </ul>
<% end %>


<form action='/tasks/' method='post'>
  
  <label for='task_name'>Task</label>
  <input id='task_name' name='task[task]' type='text' value=''>
  
  <label for='task_note'>Note</label>
  <input id='task_note' name='task[note]' type='text' value=''>
  <p>______________________________________</p>
  
  <button>Create</button>
  
</form>